<div class="container-fluid border pt-2 pb-2 pr-4 pl-4">
    <div class="row">
        <div class="col h3 text-center">REGISTRATION</div>
    </div>

    <div class="row">
        <div class="col border p-2">
            <span>Registration Id: </span>
            <span class="lead">{{patientObj.regId}}</span>
        </div>
        <div class="col border p-2">
            <span>Date of Registration: </span>
            <span class="lead">{{patientObj.registrationDate}}</span>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col h5 text-center bg-light">PATIENT DETAILS</div>
    </div>

    <div class="row">
        <div class="col border p-2">
            <span>Patient Name: </span>
            <span class="lead">{{patientObj.patientName}}</span>
        </div>
        <div class="col border p-2">
            <span>Under Doctor: </span>
            <span class="lead">{{patientObj.underDoctor}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 border p-2">
            <span>Suffereing From Disease: </span>
            <span class="lead">{{patientObj.sufferingFrom}}</span>
        </div>
        <div class="col border p-2">
            <span>Sex: </span>
            <span class="lead">{{patientObj.sex}}</span>
        </div>
        <div class="col border p-2">
            <span>Age: </span>
            <span class="lead">{{patientObj.age}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 border p-2">
            <span>Aadhar No / Social Security Id: </span>
            <span class="lead">{{patientObj.aadharVoterId}}</span>
        </div>
        <div class="col border p-2">
            <span>Admission Type: </span>
            <span class="lead">{{patientObj.admissionType}}</span>
        </div>
        <div class="col border p-2">
            <span>Payment Type: </span>
            <span class="lead">{{patientObj.paymentType}}</span>
        </div>
    </div>

    <div class="mt-3 p-1">
        <div class="row">Address Details</div>

        <div class="row border border-bottom-0">
            <div class="col p-2">
                <span>Village: </span>
                <span>{{patientObj.village}}</span>
            </div>
            <div class="col p-2">
                <span>Post Office: </span>
                <span>{{patientObj.postOffice}}</span>
            </div>
        </div>

        <div class="row border border-top-0 border-bottom-0">
            <div class="col p-2">
                <span>Police Station: </span>
                <span>{{patientObj.policeStation}}</span>
            </div>
            <div class="col p-2">
                <span>District: </span>
                <span>{{patientObj.district}}</span>
            </div>
            <div class="col p-2">
                <span>State: </span>
                <span>{{patientObj.state}}</span>
            </div>
        </div>

        <div class="row border border-top-0">
            <div class="col p-2">
                <span>Phone(Primary): </span>
                <span class="lead">{{patientObj.primaryPhoneNo}}</span>
            </div>
            <div class="col p-2">
                <span>Phone(Secondary): </span>
                <span class="lead">{{patientObj.secondaryPhoneNo}}</span>
            </div>
            <div class="col p-2">
                <span>Email Id: </span>
                <span class="lead">{{patientObj.email}}</span>
            </div>
        </div>

    </div>

</div>